<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
</head>
<body>
        <div class="container">
            <h1>
                ASCII ART WEB 
            </h1>
            <form action="/ascii-art" method="POST">

                <textarea  name="content" placeholder="Write A Text ..." >{{.text}}</textarea>
                <br><br>

                

                    <div class="ART-container">
                        <div class="ART">
                            <label>Standard</label>
                            <input type="radio" name="types" value="standard" {{if eq .font "standard" }} checked {{end}}/>
                        </div>
                        <div class="ART">
                            <label>Shadow</label>
                            <input type="radio" name="types" value="shadow" {{if eq .font "shadow" }} checked {{end}}/>
                        </div>
                        <div class="ART">
                            <label>Thinkertoy</label>
                            <input type="radio" name="types" value="thinkertoy" {{if eq .font "thinkertoy" }} checked {{end}}/>
                        </div>
                    </div>


                <br><br>
                <input type="submit" value="DISPLAY" />
            </form>

            <br><br>

            <div class="result">
                {{if .result}}
                    <pre>{{.result}}</pre>
                {{end}}
                {{if .error}}
                    <p style="color:rgb(172, 1, 1)">{{.error}}</p>
                {{end}}
            </div>

            
        </div>
</body>
</html>
